<div class="background">

    <div class="flex-container">
        <div class="shoe-img-div">
            <button (click)="leftClick()">
              <img class="shoe-img" src={{leftShoes.path}}/>
            </button>
        </div>

        <div class="shoe-img-div">
            <button (click)="rightClick()">
              <img class="shoe-img" src={{rightShoes.path}}/>
            </button>
        </div>
    </div>

    <div *ngFor="let item of select_list">
        <span>id: </span>{{item.id}}
        <span>path: </span> <img class="shoe-img" src={{item.path}}/>
    </div>
</div>